$desktop: "(min-width: 1601px)";
$laptops: "(max-width: 1600px)";
$horizontal-tablet: "(max-width: 1199px)";
$vertical-tablet: "(max-width: 991px)";
$horizontal-mobile: "(max-width: 767px)";
$vertical-mobile: "(max-width: 479px)";